@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Instrument Serif", serif;
  font-family: "Poppins", sans-serif;
}
